#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

label,
input {
  margin-right: 10px;
}

code,
progress,
.progress-placeholder {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  display: block;
}

.smart-import-input {
  width: 300px;
}

.smart-import {
  position: fixed;
  top: 3rem;
  left: 0px;
  right: 0px;
  display: block;
}
